<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="20653RandyMiller.HarvardShuttle" Publisher="CN=5CFFA44D-69BB-4D28-B2B2-98D320FBD693" Version="1.0.1.1" />
  <Properties>
    <DisplayName>Harvard Shuttle</DisplayName>
    <PublisherDisplayName>Randy Miller</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HarvardShuttle.App">
      <VisualElements DisplayName="Harvard Shuttle" Logo="Assets\bus-white-150.png" SmallLogo="Assets\bus30.png" Description="Harvard Shuttle" ForegroundText="light" BackgroundColor="#80001E" ToastCapable="false">
        <LockScreen Notification="badgeAndTileText" BadgeLogo="Assets/bus24white.png" />
        <DefaultTile ShowName="logoOnly" ShortName="Harvard Shuttle" WideLogo="Assets\wide-logo-white.png" />
        <SplashScreen Image="Assets\Splash-Screen-HarvardShuttle.png" BackgroundColor="#80001E" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="TileBackground.LiveTileUpdater">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>